#include <windows.h>
#include "resource1b.h"

IDD_DIALOG1B DIALOGEX 0, 0, 220, 80
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Крок 2"
FONT 8, "MS Shell Dlg"
BEGIN
PUSHBUTTON "< Назад", IDC_BACK, 20, 40, 50, 14
DEFPUSHBUTTON "Так", IDOK, 80, 40, 50, 14
PUSHBUTTON "Відміна", IDCANCEL, 140, 40, 50, 14
END
